<%= render 'composants/navbar' %>
<%= render 'composants/researchform' %>

    <div class="container gap-2">
      <div class="row">
        <% @characters.each do |character| %>
            <div class="col-4">
              <div class="card" style="width: 250px">
                <%= cl_image_tag character.photo.key, class: "card-img-top img-thumbnail custom-image" %>
                <figure class="text-end">
                  <blockquote class="blockquote">
                    <%= link_to character.name, character_path(character) %>
                  </blockquote>
                <figcaption class="blockquote-footer"><%= character.univers %></figcaption>
                </figure>
              </div>
            </div>
          <% end %>
      </div>
    </div>

<%= render 'composants/footer' %>
