
<%= render 'composants/navbar' %>


<div class="container gap-2  ">
<h1 class=" charac">Louez votre personnage préféré ! </h1>
<%= render 'composants/researchform' %>
    <div class="cards">
      <% @characters.each do |character| %>
        <%# <div class="col-4"> %>
          <%= link_to character_path(character) do %>
            <div class="card-index">
              <%= cl_image_tag character.photo.key, class: "rounded mx-auto d-block img-thumbnail custom-image " %>
              <figure class="text-center">
                <blockquote class="blockquote">
                  <%= link_to character.name, character_path(character), class: "no-underline charac" %>
                </blockquote>
              <figcaption class="blockquote-footer no-underline" style="body-font"><%= character.univers%></figcaption>
              <div>
                <p class= "no-underline">
                  Note: <%=character.note %></p>
              </div>
              </figure>
              <% end %>
            </div>
        <%# </div> %>
      <% end %>
    </div>
</div>

<%= render 'composants/footer' %>
