
<%= render 'composants/navbar' %>


<div class="container gap-2  ">
<%= render 'composants/researchform' %>
  <div class="row">
    <% @characters.each do |character| %>
        <div class="col-4  ">
          <div class="card-index" style="width: auto">
            <%= cl_image_tag character.photo.key, class: "rounded mx-auto d-block img-thumbnail custom-image " %>
            <figure class="text-center">
              <blockquote class="blockquote">
                <%= link_to character.name, character_path(character), class: "no-underline" %>
              </blockquote>
            <figcaption class="blockquote-footer no-underline" style="body-font"><%= character.univers%></figcaption>
            </figure>
          </div>
        </div>
      <% end %>
  </div>
</div>

<%= render 'composants/footer' %>

  <%# # univers Selecteur de recherche %>
  <%# form_tag(characters_path, method: :get, remote: true) do %>
  <%# select_tag 'query', options_for_select(["Marvel", "Star Wars", "Princesses Disney"]), prompt: 'Sélectionner une catégorie', id: 'query' %>
  <%# submit_tag 'Rechercher' %>
  <%# end %>
