
<%= render 'composants/navbar' %>


<div class="container gap-2">
<%= render 'composants/researchform' %>
  <div class="row">
    <% @characters.each do |character| %>
        <div class="col-4">
          <div class="card" style="width: auto">
            <%= cl_image_tag character.photo.key, class: "card-img-center img-thumbnail custom-image " %>
            <figure class="text-center">
              <blockquote class="blockquote">
                <%= link_to character.name, character_path(character) %>
              </blockquote>
            <figcaption class="blockquote-footer"><%= character.univers %></figcaption>
            </figure>
          </div>
        </div>
      <% end %>
  </div>
</div>

<%= render 'composants/footer' %>

  # univers Selecteur de recherche
  <%# form_tag(characters_path, method: :get, remote: true) do %>
  <%# select_tag 'query', options_for_select(["Marvel", "Star Wars", "Princesses Disney"]), prompt: 'Sélectionner une catégorie', id: 'query' %>
  <%# submit_tag 'Rechercher' %>
  <%# end %>
