<h1>Your Disney character</h1>

<div>
  <h2><%= @character.univers %></h2>
  <h3><%= @character.name %></h2>
  <p><%= @character.description %></p>
</div>

<%= simple_form_for [@character, @booking],
  data: { controller: "booking" } do |f| %>
  <%= f.input :start_date,
            as: :string,
            input_html: {
              data: { controller: "datepicker"}
            } %>
  <%= f.input :end_date,
            as: :string,
            input_html: {
              data: { controller: "datepicker"}
            } %>



  <%= f.button :submit, 'Create Booking', data: { action: "click->booking#submit" } %>
<% end %>
